################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Rubrica telefonica/.vs/Rubrica telefonica/FileContentIndex/04333589-1ef6-476a-8ac1-e34eaaca9c2f.vsidx
/Rubrica telefonica/.vs/Rubrica telefonica/FileContentIndex/0bb8db80-2b9f-4318-9dec-25f30c725b88.vsidx
/Rubrica telefonica/.vs/Rubrica telefonica/FileContentIndex/68997dae-4963-49f8-93cd-a126b57e0361.vsidx
