@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Login";
    string idNumero = Accessor.HttpContext.Session.GetString("Numero");
    
        
    
    
}

@if(idNumero!=null){
    //già loggato
    <div id="alreadylogged">
        <h1>Verrai reindirizzato alla rubrica</h1>
    </div>
    <script>
$("#alreadylogged").ready(function() {
    setTimeout(window.location.href="@Url.Action("Contatti","Home")",3000)
    
})
    </script>
}else{
    //non loggato
    <div class="container  w-50 h-50 min-vh-100 my-auto mx-auto" name="page_container">
        <div class="row w-25 text-center">
            <input type="text" id="numeroDiTelefono" class="text-danger " placeholder="Telefono:" />
        </div>
         <div class="row pt-3 text-center  w-25">
            <button id="Login" class="btn btn-primary">Login</button>
        </div>
    </div>
    <script>
        $("#Login").click(function() {
            $.ajax({
                type:"post",
                url:"@Url.Action("Login","Home")",
                data: {
                    NumeroTelefono: $("#numeroDiTelefono").val()
                },
                dataType:"json",
                success:function(data){
                    window.location.href="@Url.Action("Contatti","Home")"
                }, error(req, status, error) {
                    console.log(error);
                    alert("Cannot contact databse");
                }
            })
        });
    </script>
}